:root {
  --primary-color: #212529;
  --secondary-color: #fb8500;
  --font-color: #f8f9fa;
  --font-color-gray: rgba(248, 249, 250, 0.7);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.4rem 2.4rem;
  height: 14rem;
  position: relative;
}
.header__navigation {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transition: all 0.5s;
}
.header__navigation--links {
  list-style: none;
}
.header__navigation--links li {
  display: block;
  padding: 1rem;
}
.header__navigation--links li a {
  color: var(--font-color);
}
.header__navigation--icon svg {
  width: 2.4rem;
  height: 2.4rem;
}
@media only screen and (min-width: 600px) {
  .header__navigation--icon {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .header__navigation {
    display: none;
  }
}
.header__logo {
  color: var(--font-color);
  font-size: 2.2rem;
  font-weight: 600;
}
.header__nav {
  display: none;
}
@media only screen and (min-width: 600px) {
  .header__nav {
    font-size: 2rem;
    display: flex;
  }
  .header__nav--links {
    display: flex;
    list-style: none;
  }
  .header__nav--links li {
    padding: 1rem;
    display: block;
  }
  .header__nav--links li a {
    color: var(--font-color);
    position: relative;
    transition: all 0.5s;
  }
  .header__nav--links li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--font-color);
    position: absolute;
    bottom: -5px;
    transform: scaleX(1);
    transform: all 0.5s;
  }
  .header__nav--links li a:hover {
    letter-spacing: 1px;
  }
  .header__nav--links li a:hover::after {
    width: 100%;
    animation: bottom 0.2s linear;
  }
}

.open {
  top: 14rem;
  display: flex;
}

@keyframes bottom {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}